.header {
    padding: 15px 0;
    background: rgba(0, 0, 0, 0.5);
}

.header .container {
    @include flex(flex, center, unset, unset);
}

.header__logo {
    margin-right: 30px;
    width: 150px;
}

.header__list {
    @include flex(flex, center, space-between, unset);
    flex-grow: 2;
}

.header__list-item a {
    @include font(700, 22px, 1.2);
    text-align: center;

    color: $primary-color;
}

.header__list-item a:hover,
.header__list-item a:active,
.header__list-item a:focus {
    border-bottom: 2px solid $primary-color;
}

.header__list-item.active-item a:hover {
    border: none;
}
