.second {
  padding: 60px;
  background-color: $primary-bg_color;
}

.second .container {
  color: $primary-color;
}

.second__title {
  margin: 0 0 20px;

  @include font(900, 40px, 1.2);
  text-align: center;

  color: $primary-color;
}
