<header class="header">
    <div class="container">
        <!-- HEADER LOGO -->
        <img src="../img/header/logo.png" alt="" class="header__logo" />

        <ul class="header__list list">
            <li class="header__list-item js-episodes"><a href="episodes.html">Episodes</a></li>
            <li class="header__list-item"><a href="">Characters</a></li>
            <li class="header__list-item"><a href="">Quotes</a></li>
            <li class="header__list-item"><a href="">Of Death</a></li>
        </ul>


    </div>

</header>